# Flask und SQLAlchemy
Flask==3.0.3
Flask-SQLAlchemy==3.1.1
Flask-Migrate==4.0.7
psycopg2-binary==2.9.10
python-dotenv==1.0.1

# Google Cloud Services
google-generativeai==0.7.1
google-cloud-secret-manager==2.20.0
google-cloud-storage==2.17.0
google-cloud-logging==3.9.0
google-cloud-vision==3.7.2
google-cloud-pubsub==2.22.0
google-auth==2.29.0

# API und Netzwerk
requests==2.32.3
aiohttp==3.9.5
ebaysdk==2.2.0 # Beibehaltung der Mindestversion, da keine neuere stabile Version bekannt/nötig

# Sicherheit und Dateiverwaltung
cryptography==42.0.8 # Aktuelle stabile Version
python-multipart==0.0.9

# Bildverarbeitung und HTML
Pillow==11.2.1
beautifulsoup4==4.12.3

# Server
gunicorn==22.0.0
asgiref==3.8.1

# Testing-Abhängigkeiten sind in requirements-test.txt
# Development Tools-Abhängigkeiten sind in requirements-test.txt